.container {
  display: flex;
  background: rgb(86, 162, 212);
  justify-items: center;
  align-items: center;
  width: 500px;
  height: calc(100vh - 80px);
  border-radius: 15px;
}

.App {
  margin: auto;
}

.GameHeader {
  display: flex;
  width: 325px;
  height: 50px;
  background: rgb(90, 89, 89);
  font-size: large;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
}

.Status {
  margin-top: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}